In [1]:
import pandas as pd

In [2]:
placed=pd.read_csv(r"C:\Users\rku68\OneDrive\Desktop\csv\placement.csv")

In [3]:
placed.head(3)

   cgpa  package
0  6.89     3.26
1  5.12     1.98
2  7.82     3.25

In [4]:
x=placed.iloc[:,:-1]
y=placed['package']

In [5]:
from sklearn.linear_model import LinearRegression

C:\Users\rku68\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [6]:
from sklearn.model_selection import cross_val_score

In [7]:
p=cross_val_score(LinearRegression(),x,y,cv=KFold(n_splits=10))

NameError: name 'KFold' is not defined

In [8]:
p.sort()
p*100

NameError: name 'p' is not defined

In [9]:
new_placed=placed.head(10)

In [10]:
x_new=new_placed.iloc[:,:-1]
y_new=new_placed['package']

In [11]:
from sklearn.model_selection import LeaveOneOut,LeavePOut,KFold,StratifiedKFold

In [12]:
lo=LeaveOneOut()

In [13]:
for train, test in lo.split(x_new,y_new):
    print(train,test)

[1 2 3 4 5 6 7 8 9] [0]
[0 2 3 4 5 6 7 8 9] [1]
[0 1 3 4 5 6 7 8 9] [2]
[0 1 2 4 5 6 7 8 9] [3]
[0 1 2 3 5 6 7 8 9] [4]
[0 1 2 3 4 6 7 8 9] [5]
[0 1 2 3 4 5 7 8 9] [6]
[0 1 2 3 4 5 6 8 9] [7]
[0 1 2 3 4 5 6 7 9] [8]
[0 1 2 3 4 5 6 7 8] [9]