In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\rku68\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [6]:
salary=pd.read_csv(r"C:\Users\rku68\OneDrive\Desktop\csv\Salary_Data.csv")

In [7]:
salary.head(3)

    Age  Experience  Salary
0  21.0         1.1   39343
1  21.5         1.3   46205
2  21.7         1.5   37731

In [8]:
salary.isnull().sum()

Age           0
Experience    0
Salary        0
dtype: int64

In [9]:
x=salary.iloc[:,:-1]
y=salary['Salary']

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=12)

In [12]:
from sklearn.neighbors import KNeighborsRegressor

In [13]:
knn=KNeighborsRegressor()

In [14]:
knn.fit(x_train,y_train)

KNeighborsRegressor()

In [15]:
knn.score(x_test,y_test)*100

98.31333947822736

In [16]:
knn.score(x_train,y_train)*100

97.01792699761407