In [1]:
from sklearn.preprocessing import LabelEncoder

C:\Users\rku68\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df=['cow','goat','wscube','black','green']

In [3]:
le=LabelEncoder()

In [4]:
import pandas as pd

In [5]:
df1=pd.DataFrame({'name':df})
df1

     name
0     cow
1    goat
2  wscube
3   black
4   green

In [6]:
le.fit_transform(df1['name'])

array([1, 2, 4, 0, 3])

In [7]:
df1['en_name']=le.fit_transform(df1['name'])

In [8]:
df1

     name  en_name
0     cow        1
1    goat        2
2  wscube        4
3   black        0
4   green        3

In [10]:
loan=pd.read_csv(r"C:\Users\rku68\OneDrive\Desktop\csv\loan.csv")

In [11]:
loan.head(3)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y

In [12]:
la=LabelEncoder()

In [13]:
loan['Property_Area'].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [14]:
la.fit(loan['Property_Area'])

LabelEncoder()

In [ ]:
la.transform(loan['Property_Area'])

In [ ]:
loan['Property_Area']=la.transform(loan['Property_Area'])