In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

C:\Users\rku68\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
dataset=pd.read_csv(r'C:\Users\rku68\OneDrive\Desktop\csv\churn_modelling.csv')

In [3]:
dataset.head(3)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,42,2,0.00,1,1,1,101348.88,1
1,608,41,1,83807.86,1,0,1,112542.58,0
2,502,42,8,159660.80,3,1,0,113931.57,1

In [4]:
x=dataset.iloc[:,:-1]
y=dataset.iloc[:,-1]

In [5]:
from sklearn.preprocessing import StandardScaler

In [6]:
ss=StandardScaler()

In [7]:
x=pd.DataFrame(ss.fit_transform(x),columns=x.columns)

In [8]:
x.head(3)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,-0.326221,0.293517,-1.041760,-1.225848,-0.911583,0.646092,0.970243,0.021886
1,-0.440036,0.198164,-1.387538,0.117350,-0.911583,-1.547768,0.970243,0.216534
2,-1.536794,0.293517,1.032908,1.333053,2.527057,0.646092,-1.030670,0.240687

In [9]:
dataset.isnull().sum()

CreditScore        0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [10]:
import tensorflow

In [11]:
from keras.layers import Dense,BatchNormalization,Dropout
from keras.regularizers import L2
from keras.models import Sequential
from keras.callbacks import EarlyStopping

In [12]:
ann=Sequential()

In [13]:
ann.add(Dense(6,input_dim=8,activation='relu',kernel_regularizer=L2(l2=0.01)))
ann.add(BatchNormalization())
ann.add(Dense(4,activation='relu',kernel_regularizer=L2(l2=0.01)))
ann.add(BatchNormalization())
ann.add(Dense(2,activation='relu',kernel_regularizer=L2(l2=0.01)))
ann.add(BatchNormalization())
ann.add(Dense(1,activation='sigmoid'))

C:\Users\rku68\anaconda3\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [14]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=20)

In [16]:
x_train.shape

(8000, 8)

In [17]:
ann.fit(x_train,y_train,batch_size=100,epochs=50,validation_data=(x_test,y_test),callbacks= EarlyStopping())

Epoch 1/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - accuracy: 0.4181 - loss: 0.9018 - val_accuracy: 0.6445 - val_loss: 0.7729
Epoch 2/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5095 - loss: 0.8036 - val_accuracy: 0.6735 - val_loss: 0.7377
Epoch 3/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.6298 - loss: 0.7365 - val_accuracy: 0.7325 - val_loss: 0.6915
Epoch 4/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7214 - loss: 0.6701 - val_accuracy: 0.8115 - val_loss: 0.6414
Epoch 5/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7610 - loss: 0.6282 - val_accuracy: 0.8115 - val_loss: 0.5999
Epoch 6/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7937 - loss: 0.5771 - val_accuracy: 0.8115 - val_loss: 0.5604
Epoch 7/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7950 - loss: 0.5377 - val_accuracy: 0.8115 - val_loss: 0.5185
Epoch 8/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7931 - loss: 0.5048 - val_accuracy: 0.8115 - val_loss: 0.4773
Epoch 9/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8236 - loss: 0.4627 - val_accuracy: 0.8180 - val_loss: 0.4465
Epoch 10/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8160 - loss: 0.4519 - val_accuracy: 0.8240 - val_loss: 0.4264
Epoch 11/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8354 - loss: 0.4147 - val_accuracy: 0.8475 - val_loss: 0.4058
Epoch 12/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8379 - loss: 0.4008 - val_accuracy: 0.8540 - val_loss: 0.3905
Epoch 13/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8425 - loss: 0.3987 - val_accuracy: 0.8540 - val_loss: 0.3847
Epoch 14/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8464 - loss: 0.3893 - val_accuracy: 0.8530 - val_loss: 0.3823
Epoch 15/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8410 - loss: 0.3919 - val_accuracy: 0.8505 - val_loss: 0.3860

In [18]:
prd1=ann.predict(x_train)
prd1_new=[]
for i in prd1:
    if i[0]>0.5:
        prd1_new.append(1)
    else:
        prd1_new.append(0)

250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

In [19]:
prd=ann.predict(x_test)
prd_new=[]
for i in prd:
    if i[0]>0.5:
        prd_new.append(1)
    else:
        prd_new.append(0)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

In [20]:
from sklearn.metrics import accuracy_score

In [21]:
accuracy_score(y_test,prd_new)*100

85.05

In [22]:
accuracy_score(y_train,prd1_new)*100

84.7

In [23]:
85.3875,86.0

(85.3875, 86.0)