In [1]:
import pandas as pd

In [2]:
bost=pd.read_csv(r"C:\Users\rku68\OneDrive\Desktop\csv\Boston.csv")
bost.head(3)

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7

In [3]:
bost.shape

(506, 15)

In [4]:
inp_data=bost.iloc[:,:-1]
out_data=bost['medv']

In [5]:
from sklearn.model_selection import train_test_split

C:\Users\rku68\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [6]:
inp_train,inp_test,out_train,out_test=train_test_split(inp_data,out_data,test_size=0.25)

In [7]:
inp_train.shape,out_train.shape

((379, 14), (379,))

In [8]:
inp_test.shape,out_test.shape

((127, 14), (127,))